.btn {
  position: relative;
  top: 0;
  display: inline-block;
  border: 1px solid $accent-cl;
  border-radius: 25px;
  padding: 12px 20px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  color: $black;
  transition-duration: 2s;
  transition-property: all;
  /* transition-delay: 2s; */
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover,
  &:focus {
    background-color: $accent-cl;
    color: white;
  }

  &:disabled {
    background-color: #efefef;
    color: gray;
    border-color: currentColor;
  }
}
