.social {
  display: inline-flex;
  align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 40px;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: $black;
}
