.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.section-title {
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 1.167;
}

.section-label {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $black;
}

.section-label::before,
.social::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}
