.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $white;
  font-size: 12px;
  z-index: 55;
}

.header .logo {
  margin-right: 71px;
}

.header .contact-link {
  @include for-size(mobile-only) {
    display: none;
  }

  @include for-size(tablet-only) {
    position: absolute;
    right: 67px;
    bottom: -30px;
  }

  @include for-size(desktop) {
    margin-right: 40px;
  }
}

.header .btn {
  @include for-size(mobile-only) {
    display: none;
  }
  color: white;
}

.header .menu {
  @include for-size(mobile-only) {
    display: none;
  }
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.btn-mobile-menu {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url(../images/menu.svg);
  background-repeat: no-repeat;
  background-position: center;

  @include for-size(tablet) {
    display: none;
  }
}
