.hero .container {
  position: relative;
  background-image: url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: left 115px top;
}

.hero-sidebar {
  display: none;

  @include for-size(tablet) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 115px;
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 40px;
  }
}

.hero-sidebar .social {
  transform: rotate(-90deg) translateX(50%);
}

.hero-content {
  padding-top: 208px;
  padding-bottom: 183px;

  @include for-size(tablet) {
    padding-top: 272px;
    padding-bottom: 245px;
    margin-left: 120px;
  }

  @include for-size(desktop) {
    max-width: 470px;
    padding-bottom: 170px;
    padding-top: 272px;
    margin-left: 200px;
  }
}
