.team {
  background-color: $light-gray;
}

.team-item {
  flex-basis: calc(100% / 3 - 30px);
  text-align: center;
}

.team-position {
  font-size: 14px;
  line-height: 1.357;
  color: $accent-cl;
}
